{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
{% if assignments_list %}
{% for assignment in assignments_list %}
<center>
<h1>My Assignments</h1><br>
<h1><a href = "{{ assignment.assignment_link }}">{{ assignment.assignment_name }}</a></h1>
<h2>Due by: <a href = "{{ assignment.dropbox }}">{{ assignment.due_date }}</h2>
<h3><a href ="{{ assignment.assignment_link }}">Link to my Assignment</a></h3>
<h3><a href = "{{ assignment.dropbox }}">Turn-In Link</a></h3>
<a href="{% url 'new' %}" class="btn btn-secondary ml-1">New Assignment</a>
</center>
{% endfor %}
{% else %}
<center>
<h1>No Assignments.</h1>
</center>
{% endif %}
{% else %}
<center><h1>StudyBuddy</h1>
<h2>How it Works</h2>
</center>
{% endif %}

{% endblock %}
