{% extends 'base.html' %}

{% block content %}
<center><h1>{{ assignment.assignment_name }}</h1>
<div class = "container">
<h2>Due by: <a href = "{{ assignment.dropbox }}">{{ assignment.due_date }}</h2>
<h3><a href ="{{ assignment.assignment_link }}">Link to my Assignment</a></h3>
<p>{{ assignment.description }}</p>
<h3><a href = "{{ assignment.dropbox }}">Turn-In Link</a></h3>
<a href="{% url 'edit-assignment' assignment.slug %}" class="btn btn-primary ml-1">Edit</a> <a href="{% url 'delete-assignment' assignment.slug %}" class="btn btn-danger ml-2">Delete</a>
</div>
</center>

{% endblock %}
